@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased text-slate-900 bg-white dark:bg-slate-950 dark:text-slate-50;
  }
}

@layer utilities {
  .animate-in {
    animation-duration: 150ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: both;
  }
  
  .fade-in {
    animation-name: fade-in;
  }
  
  .slide-in-from-top-2 {
    --tw-enter-translate-y: -0.5rem;
    animation-name: enter-slide;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes enter-slide {
  from {
    opacity: 0;
    transform: translateY(var(--tw-enter-translate-y));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
